 <!DOCTYPE html>
<head>
  <!-- Meta Tags -->

  <title>Satoru - Discord Bot</title> 
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A multifunction Discord Bot with Moderation and Fun!">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="Sebastiano Girotto">
  <meta property = "og:title" content = "Satoru - Discord Bot">
  <meta property = "og:description" content = "A multifunction Discord Bot with Moderation and Fun!">
  <meta property = "og:image" content = "https://i.seba.gq/satoru.png">
  <meta name="theme-color" content="#fffad9">

  <!-- Links -->

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="icon" href="https://i.seba.gq/satoru.png"/>

  <!-- Style -->

  <style>
    body {
        font-family: 'Lato', sans-serif;
        margin-top: 5%;
    }

    .link {
        color: blue;
        text-decoration: none;
        transition-duration: .2s;
    }

    .link:hover {
        background: #dcdde1;
        transform: rotate(10deg);
    }

    h1 {
        transition-duration: 1s;
        text-align: center;
    }

    h1:hover {
        transform: rotate(10deg);
    }

    .commandhelp {
        border-left-color: gray;
        border-left-style: solid;
        margin-left: 30%;
        margin-right: 10%;
    }

    .commandname {
        margin-left: 30%;
        margin-right: 10%;
    }
  </style> 
</head>
<body>
  <h1>Satoru Commands</h1>
  
<ul><a class = 'commandname'>e?avatar [member]</a><br><a class = 'commandhelp'>&nbsp;See a member avatar</a></li><br><br>
<a class = 'commandname'>e?satoru </a><br><a class = 'commandhelp'>&nbsp;See a random image of Satoru Fujinuma</a></li><br><br>
<a class = 'commandname'>e?feedback <feedback></a><br><a class = 'commandhelp'>&nbsp;Send a feedback to the bot or suggest a new command</a></li><br><br>
<a class = 'commandname'>e?about </a><br><a class = 'commandhelp'>&nbsp;Info about the bot</a></li><br><br>
<a class = 'commandname'>e?kick [member] [reason]</a><br><a class = 'commandhelp'>&nbsp;Kick a member</a></li><br><br>
<a class = 'commandname'>e?addemoji [name] [emoji_link]</a><br><a class = 'commandhelp'>&nbsp;Add an emoji</a></li><br><br>
<a class = 'commandname'>e?male <thing> [member]</a><br><a class = 'commandhelp'>&nbsp;Use this when someone says that a thing is a female but is a male</a></li><br><br>
<a class = 'commandname'>e?mute [member] [reason]</a><br><a class = 'commandhelp'>&nbsp;Mute a member</a></li><br><br>
<a class = 'commandname'>e?hug [member]</a><br><a class = 'commandhelp'>&nbsp;Hug a user</a></li><br><br>
<a class = 'commandname'>e?say <message></a><br><a class = 'commandhelp'>&nbsp;Say something with Satoru</a></li><br><br>
<a class = 'commandname'>e?female <thing> [member]</a><br><a class = 'commandhelp'>&nbsp;Use this when someone says that a thing is a male but is a female</a></li><br><br>
<a class = 'commandname'>e?punch [member]</a><br><a class = 'commandhelp'>&nbsp;Punch a user</a></li><br><br>
<a class = 'commandname'>e?unmute [member]</a><br><a class = 'commandhelp'>&nbsp;Unmute a member</a></li><br><br>
<a class = 'commandname'>e?userinfo [member]</a><br><a class = 'commandhelp'>&nbsp;See a member's info</a></li><br><br>
<a class = 'commandname'>e?ping </a><br><a class = 'commandhelp'>&nbsp;See bot latency</a></li><br><br>
<a class = 'commandname'>e?roleinfo <role></a><br><a class = 'commandhelp'>&nbsp;See a role info</a></li><br><br>
<a class = 'commandname'>e?list </a><br><a class = 'commandhelp'>&nbsp;See your list</a></li><br><br>
<a class = 'commandname'>e?clear [amount=100]</a><br><a class = 'commandhelp'>&nbsp;Delete Messages</a></li><br><br>
<a class = 'commandname'>e?ban [member] [reason]</a><br><a class = 'commandhelp'>&nbsp;Ban a member</a></li><br><br>
<a class = 'commandname'>e?jishaku </a><br><a class = 'commandhelp'>&nbsp;The Jishaku debug and diagnostic commands.

This command on its own gives a status brief.
All other functionality is within its subcommands.</a></li><br><br>
<a class = 'commandname'>e?translate <text> [source] [destination]</a><br><a class = 'commandhelp'>&nbsp;Translate a phrase in every language. Use - e?translate "your text here" first_language second_language - Write languages as en, it, es, fr....</a></li><br><br>
<a class = 'commandname'>e?gun </a><br><a class = 'commandhelp'>&nbsp;Make a gun battle</a></li><br><br>
<a class = 'commandname'>e?looneytunes </a><br><a class = 'commandhelp'>&nbsp;Which Looney Tunes are you?</a></li><br><br>
<a class = 'commandname'>e?kayo </a><br><a class = 'commandhelp'>&nbsp;See a random image of Kayo Hinazuki</a></li><br><br>
<a class = 'commandname'>e?uptime </a><br><a class = 'commandhelp'>&nbsp;See bot uptime</a></li><br><br>
<a class = 'commandname'>e?guildinfo </a><br><a class = 'commandhelp'>&nbsp;See the actual guild info</a></li><br><br>
<a class = 'commandname'>e?invite </a><br><a class = 'commandhelp'>&nbsp;Invite the bot to your server</a></li><br><br>
</ul>
</body>
