 <!DOCTYPE html>
<head>
  <!-- Meta Tags -->

  <title>Satoru - Discord Bot</title> 
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A multifunction Discord Bot with Moderation and Fun!">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="Sebastiano Girotto">
  <meta property = "og:title" content = "Satoru - Discord Bot">
  <meta property = "og:description" content = "A multifunction Discord Bot with Moderation and Fun!">
  <meta property = "og:image" content = "https://i.seba.gq/satoru.png">
  <meta name="theme-color" content="#fffad9">

  <!-- Links -->

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="icon" href="https://i.seba.gq/satoru.png"/>

  <!-- Style -->

  <style>
    body {
        font-family: 'Lato', sans-serif;
        margin-top: 5%;
    }

    .link {
        color: blue;
        text-decoration: none;
        transition-duration: .2s;
    }

    .link:hover {
        background: #dcdde1;
        transform: rotate(10deg);
    }

    h1 {
        transition-duration: 1s;
        text-align: center;
    }

    h1:hover {
        transform: rotate(10deg);
    }

    .commandhelp {
        border-left-color: gray;
        border-left-style: solid;
    }

    .commands {
      margin-left: 30%;
      margin-right: 10%;
    }
  </style> 
</head>
<body>
  <h1>Satoru Commands</h1>
  <div class = "commands">
  
<ul><a class = 'commandname'>e?ban [member] [reason]</a><br><a class = 'commandhelp'>&nbsp;Ban a member</a></li><br><br>
<a class = 'commandname'>e?ban sudo <user_id> [reason]</a><br><a class = 'commandhelp'>&nbsp;Ban a user that is not in the actual guild</a></li><br><br>
<a class = 'commandname'>e?work </a><br><a class = 'commandhelp'>&nbsp;Work and earn money</a></li><br><br>
<a class = 'commandname'>e?unban <user_id></a><br><a class = 'commandhelp'>&nbsp;Unban a user</a></li><br><br>
<a class = 'commandname'>e?leaderboard </a><br><a class = 'commandhelp'>&nbsp;See users lb</a></li><br><br>
<a class = 'commandname'>e?kick [member] [reason]</a><br><a class = 'commandhelp'>&nbsp;Kick a member</a></li><br><br>
<a class = 'commandname'>e?mute [member] [reason]</a><br><a class = 'commandhelp'>&nbsp;Mute a member</a></li><br><br>
<a class = 'commandname'>e?gun </a><br><a class = 'commandhelp'>&nbsp;Make a gun battle</a></li><br><br>
<a class = 'commandname'>e?unmute [member]</a><br><a class = 'commandhelp'>&nbsp;Unmute a member</a></li><br><br>
<a class = 'commandname'>e?lock [channel]</a><br><a class = 'commandhelp'>&nbsp;Lock a Text Channel</a></li><br><br>
<a class = 'commandname'>e?unlock [channel]</a><br><a class = 'commandhelp'>&nbsp;Unlock a Text Channel</a></li><br><br>
<a class = 'commandname'>e?hungergames [members]</a><br><a class = 'commandhelp'>&nbsp;Create an Hunger Game! If members is none, bot will choose 8 random members. Use `,` to separate players, Ex. `hungergames lmao, lel, lol....`</a></li><br><br>
<a class = 'commandname'>e?cookie </a><br><a class = 'commandhelp'>&nbsp;COOKIE CHALLENGE</a></li><br><br>
<a class = 'commandname'>e?cookie leaderboard </a><br><a class = 'commandhelp'>&nbsp;Top Cookie users</a></li><br><br>
<a class = 'commandname'>e?cookie stat [user]</a><br><a class = 'commandhelp'>&nbsp;None</a></li><br><br>
<a class = 'commandname'>e?seed [seed]</a><br><a class = 'commandhelp'>&nbsp;See a seed</a></li><br><br>
<a class = 'commandname'>e?seed create [seed] | [title] | [description] | [image]</a><br><a class = 'commandhelp'>&nbsp;Create a seed</a></li><br><br>
<a class = 'commandname'>e?seed delete <seed></a><br><a class = 'commandhelp'>&nbsp;Delete a seed</a></li><br><br>
<a class = 'commandname'>e?seed list </a><br><a class = 'commandhelp'>&nbsp;See all seeds</a></li><br><br>
<a class = 'commandname'>e?profile [member]</a><br><a class = 'commandhelp'>&nbsp;See a user's profile</a></li><br><br>
<a class = 'commandname'>e?profile list </a><br><a class = 'commandhelp'>&nbsp;See who has a profile in the actual guild</a></li><br><br>
<a class = 'commandname'>e?profile description <description></a><br><a class = 'commandhelp'>&nbsp;Set profile's description</a></li><br><br>
<a class = 'commandname'>e?profile create </a><br><a class = 'commandhelp'>&nbsp;Create your profile</a></li><br><br>
<a class = 'commandname'>e?profile image [image_url]</a><br><a class = 'commandhelp'>&nbsp;Set profile's image, use `profile image remove` to remove the image</a></li><br><br>
<a class = 'commandname'>e?profile delete </a><br><a class = 'commandhelp'>&nbsp;Delete your profile</a></li><br><br>
<a class = 'commandname'>e?autotrigger <trigger></a><br><a class = 'commandhelp'>&nbsp;See a response giving a trigger</a></li><br><br>
<a class = 'commandname'>e?autotrigger create <trigger> <response></a><br><a class = 'commandhelp'>&nbsp;Create an auto trigger</a></li><br><br>
<a class = 'commandname'>e?autotrigger delete <trigger></a><br><a class = 'commandhelp'>&nbsp;Delete an auto trigger</a></li><br><br>
<a class = 'commandname'>e?autotrigger list </a><br><a class = 'commandhelp'>&nbsp;See your auto triggers</a></li><br><br>
<a class = 'commandname'>e?kayo </a><br><a class = 'commandhelp'>&nbsp;See a random image of Kayo Hinazuki</a></li><br><br>
<a class = 'commandname'>e?punch [member]</a><br><a class = 'commandhelp'>&nbsp;Punch someone</a></li><br><br>
<a class = 'commandname'>e?mike [member]</a><br><a class = 'commandhelp'>&nbsp;Mike Bruhzowski</a></li><br><br>
<a class = 'commandname'>e?skin [arg]</a><br><a class = 'commandhelp'>&nbsp;See a skin of player</a></li><br><br>
<a class = 'commandname'>e?head [arg]</a><br><a class = 'commandhelp'>&nbsp;See the head of a player</a></li><br><br>
<a class = 'commandname'>e?looneytunes </a><br><a class = 'commandhelp'>&nbsp;Which Looney Tunes are you?</a></li><br><br>
<a class = 'commandname'>e?helm [arg]</a><br><a class = 'commandhelp'>&nbsp;See the head of a player with the helm (if there is)</a></li><br><br>
<a class = 'commandname'>e?invite </a><br><a class = 'commandhelp'>&nbsp;Invite the bot to your server</a></li><br><br>
<a class = 'commandname'>e?cubehead [arg]</a><br><a class = 'commandhelp'>&nbsp;See the head of a player in a 3D way</a></li><br><br>
<a class = 'commandname'>e?about </a><br><a class = 'commandhelp'>&nbsp;Info about the bot</a></li><br><br>
<a class = 'commandname'>e?prefix <prefix></a><br><a class = 'commandhelp'>&nbsp;Set a custom prefix</a></li><br><br>
<a class = 'commandname'>e?prefix reset </a><br><a class = 'commandhelp'>&nbsp;Reset the default prefix</a></li><br><br>
<a class = 'commandname'>e?bust [arg]</a><br><a class = 'commandhelp'>&nbsp;See the bust of a player</a></li><br><br>
<a class = 'commandname'>e?male <thing> [member]</a><br><a class = 'commandhelp'>&nbsp;Use this when someone says that a thing is a female but is a male</a></li><br><br>
<a class = 'commandname'>e?body [arg]</a><br><a class = 'commandhelp'>&nbsp;See the body of a player</a></li><br><br>
<a class = 'commandname'>e?list </a><br><a class = 'commandhelp'>&nbsp;See your list</a></li><br><br>
<a class = 'commandname'>e?list add <item></a><br><a class = 'commandhelp'>&nbsp;Add something to the list</a></li><br><br>
<a class = 'commandname'>e?list remove <number_obj></a><br><a class = 'commandhelp'>&nbsp;Remove an obj from the list</a></li><br><br>
<a class = 'commandname'>e?list clear </a><br><a class = 'commandhelp'>&nbsp;Clear the list</a></li><br><br>
<a class = 'commandname'>e?female <thing> [member]</a><br><a class = 'commandhelp'>&nbsp;Use this when someone says that a thing is a male but is a female</a></li><br><br>
<a class = 'commandname'>e?userinfo [member]</a><br><a class = 'commandhelp'>&nbsp;See a member's info</a></li><br><br>
<a class = 'commandname'>e?random [elements...]</a><br><a class = 'commandhelp'>&nbsp;Make a random choice</a></li><br><br>
<a class = 'commandname'>e?change my mind <text></a><br><a class = 'commandhelp'>&nbsp;Change my mind meme</a></li><br><br>
<a class = 'commandname'>e?roleinfo <role></a><br><a class = 'commandhelp'>&nbsp;See a role info</a></li><br><br>
<a class = 'commandname'>e?guildinfo [guild_id]</a><br><a class = 'commandhelp'>&nbsp;See the actual guild info</a></li><br><br>
<a class = 'commandname'>e?users </a><br><a class = 'commandhelp'>&nbsp;See users stats</a></li><br><br>
<a class = 'commandname'>e?codeblock <language> <code></a><br><a class = 'commandhelp'>&nbsp;Transform a code to a codeblock</a></li><br><br>
<a class = 'commandname'>e?addemoji [name] [emoji_link]</a><br><a class = 'commandhelp'>&nbsp;Add an emoji</a></li><br><br>
<a class = 'commandname'>e?drake [top] [bottom]</a><br><a class = 'commandhelp'>&nbsp;Make the Drake Meme, use "," to separate</a></li><br><br>
<a class = 'commandname'>e?clear [amount=100]</a><br><a class = 'commandhelp'>&nbsp;Delete Messages</a></li><br><br>
<a class = 'commandname'>e?createfile <name> <text></a><br><a class = 'commandhelp'>&nbsp;Create a file</a></li><br><br>
<a class = 'commandname'>e?8ball <question></a><br><a class = 'commandhelp'>&nbsp;Ask 8ball a question</a></li><br><br>
<a class = 'commandname'>e?avatar [member]</a><br><a class = 'commandhelp'>&nbsp;See a member avatar</a></li><br><br>
<a class = 'commandname'>e?avatar image [member]</a><br><a class = 'commandhelp'>&nbsp;See a member avatar via file</a></li><br><br>
<a class = 'commandname'>e?raw <message></a><br><a class = 'commandhelp'>&nbsp;Show a message without markdown</a></li><br><br>
<a class = 'commandname'>e?messages [limit=500] [channel] [member]</a><br><a class = 'commandhelp'>&nbsp;See how many messages a member sent in a channel in the last tot messages
Use `messages <limit> <channel> <member>`</a></li><br><br>
<a class = 'commandname'>e?ping </a><br><a class = 'commandhelp'>&nbsp;See bot latency</a></li><br><br>
<a class = 'commandname'>e?spoiler <message></a><br><a class = 'commandhelp'>&nbsp;Make a message with a lot of spoilers</a></li><br><br>
<a class = 'commandname'>e?top [limit=500] [channel]</a><br><a class = 'commandhelp'>&nbsp;See a list of top users in a channel</a></li><br><br>
<a class = 'commandname'>e?uptime </a><br><a class = 'commandhelp'>&nbsp;See bot uptime</a></li><br><br>
<a class = 'commandname'>e?timezone [timezone]</a><br><a class = 'commandhelp'>&nbsp;See what time is in a country</a></li><br><br>
<a class = 'commandname'>e?meme </a><br><a class = 'commandhelp'>&nbsp;Get a random meme</a></li><br><br>
<a class = 'commandname'>e?poll <poll> [options]</a><br><a class = 'commandhelp'>&nbsp;Make a poll</a></li><br><br>
<a class = 'commandname'>e?reddit <subreddit></a><br><a class = 'commandhelp'>&nbsp;Get a random post from a subreddit</a></li><br><br>
<a class = 'commandname'>e?clap [message...]</a><br><a class = 'commandhelp'>&nbsp;clap clap</a></li><br><br>
<a class = 'commandname'>e?hug [member]</a><br><a class = 'commandhelp'>&nbsp;Hug a user</a></li><br><br>
<a class = 'commandname'>e?translate <text> [source] [destination]</a><br><a class = 'commandhelp'>&nbsp;Translate a phrase in every language. Use - translate "your text here" first_language second_language - Write languages as en, it, es, fr....</a></li><br><br>
<a class = 'commandname'>e?source </a><br><a class = 'commandhelp'>&nbsp;See Bot source on github</a></li><br><br>
<a class = 'commandname'>e?feedback <feedback></a><br><a class = 'commandhelp'>&nbsp;Send a feedback to the bot or suggest a new command</a></li><br><br>
<a class = 'commandname'>e?vote </a><br><a class = 'commandhelp'>&nbsp;Vote the bot on top.gg</a></li><br><br>
<a class = 'commandname'>e?google <search></a><br><a class = 'commandhelp'>&nbsp;Search something on google</a></li><br><br>
<a class = 'commandname'>e?space <text></a><br><a class = 'commandhelp'>&nbsp;Make a lot of spaces between letters</a></li><br><br>
<a class = 'commandname'>e?say <message></a><br><a class = 'commandhelp'>&nbsp;Say something with Satoru</a></li><br><br>
<a class = 'commandname'>e?dog </a><br><a class = 'commandhelp'>&nbsp;Get a random dog picture</a></li><br><br>
<a class = 'commandname'>e?satoru </a><br><a class = 'commandhelp'>&nbsp;See a random image of Satoru Fujinuma</a></li><br><br>
<a class = 'commandname'>e?cat </a><br><a class = 'commandhelp'>&nbsp;Get a random cat picture</a></li><br><br>
</ul>
  </div>
<script>
    if (window.location.protocol === "http:") {
      location.href = "https://satoru.seba.gq/"
    }
  </script>
</body>