<!DOCTYPE html>
<head>
  <!-- Meta Tags -->

  <title>Satoru - Discord Bot</title> 
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A multifunction Discord Bot with Moderation and Fun!">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="Sebastiano Girotto">
  <meta property = "og:title" content = "Satoru - Discord Bot">
  <meta property = "og:description" content = "A multifunction Discord Bot with Moderation and Fun!">
  <meta property = "og:image" content = "https://i.seba.gq/satoru.png">
  <meta name="theme-color" content="#fffad9">

  <!-- Links -->

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="icon" href="https://i.seba.gq/satoru.png"/>

  <!-- Style -->

  <style>
    body {
      font-family: 'Lato', sans-serif;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .link {
      color: blue;
      text-decoration: none;
      transition-duration: .2s;
    }

    .link:hover {
      background: #dcdde1;
      transform: rotate(10deg);
    }

    h1 {
        transition-duration: 1s;
    }

    h1:hover {
        transform: rotate(10deg);
    }
  </style>
</head>
<body>
  <div>
  <h1>Satoru is online!</h1>
  </div>
  <p><a href = "https://discordapp.com/api/oauth2/authorize?client_id=635044836830871562&permissions=321606&scope=bot" class = "link" target = "_blank">Invite The Bot</a></p>
  <p><a href = "https://discord.gg/w8cbssP" class = "link" target = "_blank">Support Server</a></p>
  <p><a href = "https://github.com/ssebastianoo/Satoru" class = "link" target = "_blank">GitHub</a></p>
  <p><a href = "/commands" class = "link">Commands</a></p>
  <p><a href = "/stats" class = "link">Stats</a></p>

  <script>
    if (window.location.protocol === "http:") {
      location.href = "https://satoru.seba.gq/"
    }
  </script>
</body>